/* —————————————————————————————————————————————————————————————————————————————
   Global
*/

#App {
  margin-top: 5em;
  text-align: center;
}

nav li {
  list-style-type: none;
}

button {
  font-size: 1em;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoView
*/

#TodoView {
  display: flex;
  justify-content: center;
}

#TodoView button {
  margin: 0.2em;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoForm
*/

#TodoForm button {
  margin: 0.5em;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoItem
*/

.done {
  text-decoration: line-through;
}