/* —————————————————————————————————————————————————————————————————————————————
   Global
*/

#App main {
  display: flex;
}

#App section {
  padding: 1em;
}

/* —————————————————————————————————————————————————————————————————————————————
   CSS Variables
*/

:root {
  /* colors */
  --white: #FFFFFF;
  --grey-background: #F2F2F2;
  --black: #000000;
  --blue: #37C1FF;
  --purple: #B43BDF;
  --orange: #E49217;
  --green: #40DE3D;
  --yellow: #E5DE1F;
  --red: #EA3D32;
  --sidebar: #FAFAFA;
  /* fonts */
  --roboto: 'Roboto';
  /* font weights */
  --heavy: 700;
  --medium: 400;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoForm
*/

#TodoForm {
  text-align: center;
}

#TodoForm button {
  margin: 0.3em;
}

#TodoForm input {
  margin: 0.3em;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoList
*/

#TodoList {
  text-align: center;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoItem
*/

.TodoItem .done {
  text-decoration: line-through;
}

.TodoItem button {
  margin: 0.2em;
}

.TodoItem span {
  margin: 0.5em;
}