#Modal {
   position: absolute;
   float: left;
   left: 50%;
   top: 30%;
   transform: translate(-50%, -50%);
   transition: all 0.5s ease-in-out;
   opacity: 1;
   background-color: white;

   padding: 1em;
   z-index: 1000;
   border: 1px solid rgb(234, 234, 234);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
   border-radius: 6px;
}

#Modal button {
   margin-left: 0.6em;
}