#Modal {
   /* positioning */
   position: absolute;
   float: left;
   left: 50%;
   top: 30%;
   transform: translate(-50%, -50%);

   /* dimensions */
   padding: 1em;
   z-index: 1000;
   display: flex;

   /* style */
   border-radius: 6px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.3)  0px 19px 38px,
               rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#Modal.enter { animation: enter 0.2s; }
#Modal.exit  { animation: exit  0.2s; }

#Modal input[type="text"] {
   /* position */
   margin-left   : 0.6em;
   margin-right  : 0.6em;

   /* dimensions */
   padding-left  : 0.5em;
   padding-right : 0.5em;
}

#Modal input[type="date"] {
   /* dimensions */
   padding-left  : 0.5em;
   padding-right : 0.5em;
}

/* move up + fade in */
@keyframes enter {
   from {
      opacity: 0;
      transform: translate(-50%, -20%);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0);
   }
}

@keyframes exit {
   to {
      opacity: 0;
      transform: translate(-50%, -20%);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0);
   }
}