/* —————————————————————————————————————————————————————————————————————————————
   Global
*/

/* —————————————————————————————————————————————————————————————————————————————
   CSS Variables
*/

:root {
  /* colors */
  --white: #FFFFFF;
  --grey-background: #FAFAFA;
  --grey-hover: rgba(0, 0, 0, 0.4)
  --black: #202020;
  --blue: #37C1FF;
  --purple: #B43BDF;
  --orange: #E49217;
  --green: #40DE3D;
  --yellow: #E5DE1F;
  --red: #EA3D32;
  --sidebar: rgb(250, 250, 250);
  /* fonts */
  --roboto: 'Roboto';
  /* font weights */
  --heavy: 700;
  --medium: 400;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoForm
*/

#TodoForm {
  text-align: center;
}

#TodoForm button {
  margin: 0.3em;
}

#TodoForm input {
  margin: 0.3em;
}