/* —————————————————————————————————————————————————————————————————————————————
   Global
*/

.flex {
  display: flex;
}


nav a {
  text-decoration: none;
  color: #000;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 50,
  'opsz' 24
}

/* —————————————————————————————————————————————————————————————————————————————
   CSS Variables
*/
html[data-theme="dark"] {
  /* general colors */
  --white: #FFFFFF;
  --grey-background: #FAFAFA;
  --grey-hover: rgba(0, 0, 0, 0.4);
  --black: #202020;
  --blue: #4765e6;
  --blue_light: rgb(51, 140, 246);
  --purple: #B43BDF;
  --brown: #9a6b59e1;
  --orange: #fc9b0a;
  --orange_alt: rgb(241, 154, 56);
  --green: green;
  --yellow: #E5DE1F;
  --red: rgb(176, 8, 8);
  --red_text: rgb(213, 0, 0);
  --red_light: rgb(235, 77, 61);
  /* left menu */
  --sidebar: #242424;
  --sidebar_color: hsla(0,0%,100%,.87);
  --sidebar_hover: #383838;
  /* top menu */
  --top_background: #282828;
  --top_color: hsla(0,0%,100%,.87);
  --top_hover: #5e5e5e;
  /* search bar */
  --search_background: #383838;
  --search_text_color: hsla(0,0%,100%,.87);
  --data_result_background: #383838;
  --data_item_hover: #5e5e5e;
  /* profile drop down */
  --profile_background: #383838;
  --profile_text_color: hsla(0,0%,100%,.87);
  --profile_hover: #5e5e5e;
  /* todo view && todo item */
  --todo_view_background: #1f1f1f;
  --todo_text: #d0d0d0;
  --todo_headers: hsla(0,0%,100%,.87);
  --todo_item_lines: #383838;
  --line_through: #d0d0d0;
  --check_icons: #9e9e9e;
  /* add todo */
  --todo_modal_background: #383838;
  --todo_modal_border: #5e5e5e;
  /* search view */
  --search_view_background: #1f1f1f;
  --search_view_color: #d0d0d0;
  --search_view_headers: hsla(0,0%,100%,.87);
  --overdue_color: #ff7066;
  /* settings modal */
  --settings_modal_background: #242424;
  --settings_header: hsla(0,0%,100%,.87);
  --settings_label: #d0d0d0;
  /* command modal */
  --command_modal_background: #1f1f1f;
  --command_modal_border: #5e5e5e;
  --command_input_background: #383838;
  --command_input_text: hsla(0,0%,100%,.87);
  --command_menu_border: #4e4e4e;
  --command_modal_headers: #d0d0d0;
  --command_modal_text: #d0d0d0;
  --command_modal_hover: #383838;
  --command_q_icon: hsla(0,0%,100%,.87);
  }


:root {
  /* general colors */
  --white: #FFFFFF;
  --grey-background: #FAFAFA;
  --grey-hover: rgba(0, 0, 0, 0.4);
  --black: #202020;
  --blue: #4765e6;
  --blue_light: rgb(51, 140, 246);
  --purple: #B43BDF;
  --brown: #9a6b59e1;
  --orange: #fc9b0a;
  --orange_alt: rgb(241, 154, 56);
  --green: green;
  --yellow: #E5DE1F;
  --red: rgb(176, 8, 8);
  --red_text: rgb(213, 0, 0);
  --red_light: rgb(235, 77, 61);
  /* left menu */
  --sidebar: rgb(250, 250, 250);
  --sidebar_color: #202020;
  --sidebar_hover: rgb(238, 238, 238);
  /* top menu */
  --top_background: rgb(247, 247, 247);
  --top_color: #202020;
  --top_hover: rgb(222, 222, 222);
  /* search bar */
  --search_background: #FFFFFF;
  ---search_text_color: #202020;
  --data_result_background: #FFFFFF;
  --data_item_hover: #f5f5f5;
  /* profile drop down */
  --profile_background: #FFFFFF;
  --profile_text_color: #202020;
  --profile_hover: #f5f5f5;
  /* todo view && todo item */
  --todo_view_background: #FFFFFF;
  --todo_text: #202020;
  --todo_headers: #202020;
  --todo_item_lines: #ccc;
  --line_through: #202020;
  --check_icons: #202020;
  /* add todo */
  --todo_modal_background: #FFFFFF;
  --todo_modal_border: #FFFFFF;
  /* search view */
  --search_view_background: #FFFFFF;
  --search_view_color: #202020;
  --search_view_headers: #202020;
  --overdue_color: rgb(235, 77, 61);
  /* settings modal */
  --settings_modal_background: #FFFFFF;
  --settings_header: #202020;
  --settings_label: #202020;
  /* command modal */
  --command_modal_background: #FFFFFF;
  --command_modal_border: #FFFFFF;
  --command_input_background: #FFFFFF;
  --command_input_text: #202020;
  --command_menu_border: rgb(227, 225, 225);
  --command_modal_headers: #202020;
  --command_modal_text: #202020;
  --command_modal_hover: #f0f0f0;
  --command_q_icon: rgb(227, 225, 225);

  --roboto: 'Roboto';

  --heavy: 700;
  --medium: 400;
}