/* —————————————————————————————————————————————————————————————————————————————
   TodoItem
*/

.TodoItem {
   /* position */
   display         : flex;
   justify-content : space-between;
   align-items     : center;
   position: relative;
   /* z-index: -1; */
   /* dimension */
   padding         : 0.5em;
   border-bottom   : 1px solid #ccc;
   /* style */
   font-size       : 0.85em;
}

.TodoItem:first-of-type {
   border-top: 2px solid #ccc;
}

.TodoItem:last-of-type {
   border-bottom: 2px solid #ccc;
}

/* —————————————————————————————————————————————————————————————————————————————
   Text
*/

.TodoItem span {
   display: flex;
   align-items: center;
}

.TodoItem time.overdue {
   color: rgb(213, 0, 0);
}

.TodoItem.done .text {
   text-decoration: line-through;
}

/* —————————————————————————————————————————————————————————————————————————————
   Icon
*/

/** container for icon **/
.TodoItem .left {
   position: relative;
   /* z-index: -1; */
}

.TodoItem i {
   position: relative;
   /* z-index: -1; */
   margin-right: 0.3em;
   cursor: pointer;
   user-select: none;
}

.TodoItem i.checkbox {
   position: absolute;
   /* z-index: -1; */
   left: 0;
   opacity: 0;
   transition: opacity 0.5s;
}

.TodoItem i.checkbox.checked {
   opacity: 1;
}