/* —————————————————————————————————————————————————————————————————————————————
   TodoItem
*/

.TodoItem:first-of-type {
   border-top: 2px solid #ccc;
}

.TodoItem:last-of-type {
   border-bottom: 2px solid #ccc;
}

.TodoItem {
   /* position */
   display         : flex;
   justify-content : space-between;
   align-items     : center;
   /* dimension */
   padding         : 0.5em;
   border-bottom   : 1px solid #ccc;
   /* style */
   font-size       : 0.85em;
}

.TodoItem .done .text {
   text-decoration: line-through;
}

.TodoItem button {
   margin: 0.2em;
}

.TodoItem span {
   display: flex;
   align-items: center;
}

.TodoItem i {
   margin-right: 0.3em;
}

.TodoItem i:hover {
   cursor: pointer;
}

.TodoItem .overdue {
   color: rgb(213, 0, 0);
}

/* icon transition */

.icon-container {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1.6px solid black;
   border-radius: 2px;
   height: 17.5px;
   width: 17.5px;
   margin-right: 10px;
}

.check-mark {
   animation: fade1 0.8s;
}


.material-symbols-rounded.check-mark {
   width: 17px;
}

.done-check-mark {
   animation: none;
}

.material-symbols-rounded.done-check-mark {
   width: 17px;
}

@keyframes fade1 {
   0% {
      opacity: 0;
    }
    100% {
     opacity: 1;
    }
}