/* —————————————————————————————————————————————————————————————————————————————
   TodoView
*/

#TodoView {
   padding: 1em;
   width: 100%;

   --header-font-size: 1.5em;
}

#TodoView h1 {
   font-size: var(--header-font-size);
   margin-left: 0.4em;
   margin-right: 0.25em;
   margin-bottom: 0.2em;
}

#TodoView section {
   margin-bottom: var(--header-font-size);
}

#inbox h1    { color: var(--blue_light); }
#today h1    { color: var(--green); }
#upcoming h1 { color: var(--orange); }

/* -----------------------------------------------------------------------------
   Today
*/

#TodoView header h1 {
   display: flex;
   justify-content: space-between;
}

/* —————————————————————————————————————————————————————————————————————————————
   Celebration
*/

#TodoView section#Celebration {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 0em;
   width: 100%;
}

#TodoView #Celebration i {
   font-size: 10em;
   color: rgb(1, 112, 1);
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoList
*/

#TodoList {
   text-align: center;
}