/* —————————————————————————————————————————————————————————————————————————————
   TodoView
*/

#TodoView {
   --header-font-size: 1.5em;
}

#TodoView {
   padding: 1em;
   width: 100%;
}

#TodoView h1 {
   font-size: var(--header-font-size);
   margin-left: 0.4em;
   margin-right: 0.25em;
   margin-bottom: 0.2em;
}

#TodoView header h1 {
   display: flex;
   justify-content: space-between;
}

#TodoView header time {
   color: green;
}

#TodoView section {
   margin-bottom: var(--header-font-size);
}

/* —————————————————————————————————————————————————————————————————————————————
   Celebration
*/

#TodoView section.hooray {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 0em;
   width: 100%;
}

#TodoView .hooray i {
   font-size: 10em;
}

/* —————————————————————————————————————————————————————————————————————————————
   TodoList
*/

.TodoList {
   text-align: center;
}