/* —————————————————————————————————————————————————————————————————————————————
   LeftMenu
*/

#LeftMenu {
   display: flex;
   flex-direction: column;
   background-color: var(--sidebar);
   min-width: 13.5em;
   height: calc(100vh - 4.3em);
   padding-left: 5px;
   padding-top: 30px;
   padding-right: 10px;
}

.sidebar {
   transform: translate(-100%);
   transition: transform 0.2s ease-out;
   position: absolute;
}

.sidebar.active {
   transform: translate(0);
   transition: transform 0.2s ease-in;
}

/* —————————————————————————————————————————————————————————————————————————————
   Menu Items
*/

#LeftMenu .item {
   display: flex;
   justify-content: space-between;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   font-size: 14px;
   border-radius: 4px;
   user-select: none;
}

#LeftMenu .item:hover {
   background-color: rgb(238, 238, 238);
}

#LeftMenu .active {
   font-weight: 600;
   background-color: rgb(238, 238, 238);
}

/* -----------------------------------------------------------------------------
   Statistics
*/

#LeftMenu .statistic {
   padding-right: 1em;
   font-size: 0.8em;
   color: rgb(147, 142, 142);
   display: flex;
   align-items: center;
}

#LeftMenu #overdue {
   color: var(--red_light);
}

/* —————————————————————————————————————————————————————————————————————————————
   Icons
*/

#LeftMenu i {
   margin-right: 0.3em;
}

#LeftMenu i.inbox    { color: var(--blue_light);   }
#LeftMenu i.today    { color: var(--green);  }
#LeftMenu i.upcoming { color: var(--orange); }
/* #LeftMenu i.done     { color: var(--brown);  } */
/* #LeftMenu i.trash    { color: var(--red);    } */

#LeftMenu .app-sidebar-resize {
   border: 3px solid red;
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: 6px;
   /* align-self: flex-end; */
   cursor: col-resize;
   resize: horizontal;
}

#LeftMenu .app-sidebar-resize:hover {
   width: 3px;
   background: #c1c3c5b4;
}