/* —————————————————————————————————————————————————————————————————————————————
   Command Modal
*/

#Command {
   /* positioning */
   position: absolute;
   float: left;
   left: 50%;
   top: 30%;
   transform: translate(-50%, -50%);

   /* dimensions */
   min-width: 25em;
   padding: 1em;
   z-index: 1000;
   display: flex;
   flex-direction: column;

   /* style */
   animation: entry 0.2s;
   border-radius: 6px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.3)  0px 19px 38px,
               rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* —————————————————————————————————————————————————————————————————————————————
   Menu Items
*/

#Command li {
   display: flex;
   padding-top: 0.3em;
   padding-bottom: 0.3em;
}

#Command i {
   margin-right: 0.3em;
}

#Command menu h1 {
   font-size: 1em;
   font-weight: 600;
   margin-bottom: 0.5em;
}

/* —————————————————————————————————————————————————————————————————————————————
   Animation
*/

/* move up + fade in */
@keyframes entry {
   from {
      opacity: 0;
      transform: translate(-50%, -20%);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0);
   }
}

@keyframes exit {
   to {
      opacity: 0;
      transform: translate(-50%, -20%);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0);
   }
}